/*paleta de colores*/
:root {
  --chocolate: #5a4d3a;
  --espresso: #a58e77;
  --dulceDeLeche: #744924;
  --calabaza: #c28d4b;
  --mantequilla: hsl(33, 54%, 73%);
  --latte: #ddcdbf;

  --color1: #fcedd6;
  --color2: #a8a67d;
  --color3: #ffd56d;
  --color4: #dfa45e;
  --color5: #5f322d;
}

header {
  /* background-color: var(--chocolate); */
  height: 0vh;
  width: 100vw;
  position: sticky;
}

body {
  margin: 0;
  background-color: var(--latte);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* box-sizing: border-box; */
}

.carrousel {
  width: 100vw;
  height: 100vh;
}

.carrousel img {
  height: 100%;
  margin: auto;
}

.diagonal1 {
  position: relative;
  background-color: dimgray;
  width: 100vw;
  height: 100vh;
  /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 50% 70%, 0 35%, 0 0); */
    clip-path: polygon(0% 0%, 50% 0, 100% 100%,  0 100%, 0 0);

}

.parallax{
  background-image: url("/resources/images/blueberryPancakes.jpeg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*____________________________________*/

.joinMessage{
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: red;
  z-index: 20;
}

.joinMessage button{
position: sticky;
top: 0;
}

.joinMessage h2{
  width: 80%;
  font-size: 3rem;
}